/* ------------------ 
     MEDIA QUERIES
------------------*/

@media screen and (max-width: 549px) {
  /* reusable */
  .section {
    margin: 50px 20px 70px 20px;
    overflow-y: hidden;
  }

  .section-border {
    border-bottom: 2px solid black;
    margin-right: 14em;
    margin-left: 14em;
  }

  /* nav-section */
  nav {
    display: flex;
  }

  ul {
    padding-right: 0;
  }

  li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
  }

  .logo {
    padding-left: 0;
    margin-left: 0;
  }

  /* main */
  .header {
    font-size: 9px;
    margin-top: -5px;
  }

  .main-header {
    top: -2em;
  }

  .secondary-header {
    margin-top: -10em;
  }

  /* section-b */
  .section-b-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5em 5em;
    justify-items: center;
  }

  .section-b-container img {
    width: 80%;
    height: inherit;
  }

  /* section-c */
  .section-c {
    background-color: #f3f3f3;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .section-c-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5em;
    justify-items: center;
  }

  .card-layout {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
  }

  /* section-d */
  .section-d {
    height: 100%;
    text-align: center;
    overflow-x: hidden;
  }

  .container-d {
    display: block;
  }

  iframe {
    width: 100%;
  }

  textarea {
    width: 90%;
    height: 10em;
    background-color: #f2f2f2;
    margin-bottom: 2em;
  }

  input[type="email"] {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    width: 90%;
    height: 4em;
    background-color: #f2f2f2;
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 500px) and (max-width: 799px) {
  .section-c {
    background-color: #f3f3f3;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .section-c-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 1.5em;
  }

  .card-layout {
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    min-height: 20em;
    max-width: 18em;
  }

  .section-b-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5em 5em;
    justify-items: center;
  }

  .section-b-container img {
    width: 100%;
    height: auto;
  }

  /* section-d */
  .section-d {
    height: 100%;
    text-align: center;
    overflow-x: hidden;
  }

  .container-d {
    display: block;
  }

  iframe {
    width: 100%;
  }

  textarea {
    width: 90%;
    height: 10em;
    background-color: #f2f2f2;
    margin-bottom: 2em;
  }

  input[type="email"] {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    width: 90%;
    height: 4em;
    background-color: #f2f2f2;
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 550px) and (max-width: 1199px) {
  .section {
    margin: 50px 20px 70px 20px;
    overflow-y: hidden;
  }

  .card-layout {
    width: 100%;
  }
}

@media screen and (min-width: 550px) and (max-width: 899px) {
  ul {
    padding-right: 10px;
  }

  li {
    padding-right: 40px;
  }

  .logo {
    padding-left: 20px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .section-d {
    margin: 50px 0 70px 20px;
    overflow-x: hidden;
  }

  textarea {
    max-width: 100%;
    width: 94.5%;
  }

  .btn-itself {
    max-width: 100%;
    width: 90%;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1199px) {
  .section-d {
    margin: 50px 20px 70px 20px;
    overflow-x: hidden;
  }

  textarea {
    max-width: 100%;
    width: 94.5%;
  }

  .btn-itself {
    max-width: 100%;
    width: 88%;
  }

  input[type="email"] {
    max-width: 100%;
    width: 35em;
  }
}
